<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="CsvPath" value="C:\Users\USER\source\repos\Virtuelizacija_Procesa\Virtuelizacija_Procesa\AirPi Data - AirPi.csv" />
		<add key="LogPath" value="C:\Users\USER\source\repos\Virtuelizacija_Procesa\Virtuelizacija_Procesa\invalid_rows.log" />
	</appSettings>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="SensorBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="65536000"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
				</binding>
			</netTcpBinding>
		</bindings>
		
		<client>
			<endpoint name="SensorService"
					  address="net.tcp://localhost:9001/Sensor"
					  binding="netTcpBinding"
					  contract="Common.ISensorService" />
		</client>
	</system.serviceModel>
</configuration>